.App {
  text-align: center;
  width: 50%;
  margin: 1rem auto;
}

$primary: hsl(170, 58%, 47%);
$visited: hsl(170, 75%, 25%);

a:link {
  text-decoration: none;
  font-weight: bold;
  color: $primary;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $visited;
}

@import "node_modules/bootstrap/scss/bootstrap";
