.todo-list {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1rem;
}

.item-container {
  border: 1px solid #cccccc;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

input,
button {
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: hsl(170, 58%, 47%);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: hsl(170, 75%, 25%);
}
